extends layout

block content
 h1= title

 if (toShow == null)
    h2 No instance to delete
 else
 - let handbagid = toShow._id
 - let handbagname = toShow.bag_name
 - let handbagcolor = toShow.bag_color
 - let handbagcost = toShow.bag_cost
 - let actionid = "/resource/handbags/" + handbagid
 script let actionid = "#{actionid}"
 div
    div.row
        div(class='handbagAttr mr-3') Handbag ID is:
        div #{handbagid}
    div.row
        div(class='handbagAttr mr-3') Handbag Name is:
        div #{handbagname}
    div.row
        div(class='handbagAttr mr-3') Handbag Color is:
        div #{handbagcolor}
    div.row
        div(class='handbagAttr mr-3') Handbag Cost is:
        div #{handbagcost}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

 script.
    function cancel() {
    // Go back to the home page for the handbag collection
    window.location.href='/handbags'
    }
 script.
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Delete succeded")
    window.location.href='/handbags'
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
    }