extends layout
block content
 h1= title
 
 if (toShow == null)
    h2 No instance to display here
 else
    - let handbagid = toShow._id
    - let bag_name = toShow.bag_name
    - let bag_color = toShow.bag_color
    - let bag_cost = toShow.bag_cost
    div
    div.row
    div(class='handbagAttr mr-3') Handbag ID is:
    div #{handbagid}
    div.row
    div(class='handbagAttr mr-3') Handbag Name is:
    div #{bag_name}
    div.row
    div(class='handbagAttr mr-3') Handbag Color is:
    div #{bag_color}
    div.row
    div(class='handbagAttr mr-3') Handbag Cost is:
    div #{bag_cost}