extends layout
block content
 h1= title
 - let handbagid = toShow._id
 - let handbagname = toShow.bag_name
 - let handbagcolor = toShow.bag_color
 - let handbagcost = toShow.bag_cost
 div
 div.row
 div(class='handbagAttr mr-3') Handbag ID is:
 div #{handbagid}
 div.row
 div(class='handbagAttr mr-3') Handbag Name is:
 div #{handbagname}
 div.row
 div(class='handbagAttr mr-3') Handbag Color is:
 div #{handbagcolor}
 div.row
 div(class='handbagAttr mr-3') Handbag Cost is:
 div #{handbagcost}