extends layout

block content
  h1= title
  - let results = theHandbags
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.bag_name}
          p #{result.bag_color}
          p #{result.bag_cost}

  script.
    function buy(element){
      alert(`You purchased item is ${element+1}.`)
    }
